* { margin: 0; padding: 0; box-sizing: border-box; }

body, html {
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f7;
  color: #333;
  margin: auto;
  display: flex;
  justify-content: center; /* centraliza vertical */
  align-items: center;     /* centraliza horizontal */
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* centraliza vertical */
  align-items: center;     /* centraliza horizontal */
  padding: 20px;
}

header { text-align: center; margin-bottom: 60px; margin-bottom: 50px;}
header h1 { font-size: 2.5rem; margin-bottom: 5px; color: #111;  }
header p { font-size: 1rem; color: #555; }

/* Main grid ocupando tela toda, cards 50% cada */
.main-grid {
  display: flex;
  width: 1200px;
  max-width: 1200px;
  gap: 20px;
}

/* Cada card ocupa 50% da largura e altura mínima de 80vh */
.card {
  background-color: #fff;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
  transition: transform 0.2s, box-shadow 0.3s;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  width: 1200px;
}
.card:hover { transform: translateY(-5px); box-shadow: 0 12px 25px rgba(0,0,0,0.1); }

/* Tabela */
.table-section { overflow-y: auto; }
table { width: 100%; border-collapse: collapse; flex: 1; }
table th, table td { padding: 12px 10px; text-align: left; }
th { border-bottom: 2px solid #eee; font-weight: 600; color: #777; }
td.valor { text-align: right; font-weight: 500; color: #111; }
tr:hover { background-color: #f9fafb; transition: background-color 0.2s; }
.empty { text-align: center; color: #999; padding: 20px 0; }

/* Gráfico e total */
.chart-section h2 { margin-bottom: 20px; font-size: 1.3rem; color: #111; }
.total-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #333;
}
.total-box .valor {
  font-size: 1.5rem;
  font-weight: bold;
  color: #16a34a;
}

/* Wrapper para o gráfico ocupar todo espaço do card */
.chart-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-wrapper canvas {
  max-width: 100%;
  max-height: 100%;
}

/* Footer */
footer {
  text-align: center;
  font-size: 0.9rem;
  color: #aaa;
  margin-top: 20px;
}
